{% extends "base.html" %}

{% block content %}
<div class="form-container">

    <h2>Your Shopping Cart</h2>

    {% if products %}

        
 {% for product in products %}
<div class="status-card">

    <p><strong>{{ product.name }}</strong></p>

    <p>Price: ${{ product.price }}</p>

    <p>Sizes: {{ product.sizes }}</p>

    <p>Colors: {{ product.colors }}</p>

    <form method="POST" action="{% url 'add_to_cart' product.id %}">
        {% csrf_token %}
        <button type="submit"
            style="display:block;padding:10px;background:#3498db;color:white;border-radius:6px;
                   text-decoration:none;font-weight:bold;border:none;width:100%;cursor:pointer;">
            Add to Cart
        </button>
    </form>

    </div>
            <!-- REMOVE -->
            <form method="POST" action="{% url 'remove_from_cart' item.id %}">
                {% csrf_token %}
                <button type="submit" class="btn" style="background:red;">
                    Remove
                </button>
            </form>

        </div>
        {% endfor %}

        <h3>Total Price: ${{ total_price }}</h3>

    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}

</div>
{% endblock %}

